proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.win32/.vs/SpaceUnit3/v15/ipch/
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
cocos2d/external/recast/proj.win32/Debug.win32/

proj.android/app/build/
proj.android/app/.cxx/cmake/
proj.android/.idea/
cocos2d/cocos/platform/android/libcocos2dx/build/

proj.ios_mac/build/

